<section>
    <div 
    class="text-white font-semibold text-lg 
    bg-indigo-950 border-4 border-violet-950">
        <nav class=" opacity-85 flex flex-row gap-12 justify-center py-5">
            <a>Inicio</a>
            <a>Proyectos</a>
            <a>Tecnologias</a>
            <a>Certificados</a>
        </nav>
    </div>
</section>